F.location-bar {
  width: 100%;
  border-radius: 30px;
  text-align: center;
}
.search-button {
  width: 100%;
  background-color: rgb(237, 161, 193);
  border-radius: 30px;
}
.search-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
#submit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.Form {
  text-align: left;
}
.current-location {
  width: 100%;
  background-color: rgb(237, 161, 193);
  border-radius: 30px;
}
