@keyframes color {
  0% {
    background: #e8d7ff;
  }
  20% {
    background: #ffd3e8;
  }
  40% {
    background: #ffd7d5;
  }
  60% {
    background: #f3ffe1;
  }
  80% {
    background: #dfffd6;
  }
  100% {
    background: #e8d7ff;
  }
}

.location-bar {
  width: 100%;
  border-radius: 30px;
  text-align: center;
}
.search-button {
  width: 100%;
  background-color: rgb(237, 161, 193);
  border-radius: 30px;
}
.search-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
#submit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.Form {
  text-align: left;
}
